@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #f4a641;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #121923;
}


::-webkit-scrollbar-corner {
    background: transparent;
}

